[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
invoke = "*"
sphinx = "*"
pygments-style-github = "*"
sphinx-autobuild = "*"
sphinx-lectern = {editable = true, git = "ssh://git@github.com/hackbrightacademy/sphinx-lectern.git"}

[pipenv]
allow_prereleases = true
