[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sphinx-lectern = {editable = true, git = "https://github.com/hackbrightacademy/sphinx-lectern.git"}
invoke = "*"
sphinx = "*"
pygments-style-github = "*"

[pipenv]
allow_prereleases = true
