.ace_editor {
  font-family: var(--fontMono);
  font-size: 0.9em;
  line-height: 1.4em;
}
.highlight .gp {
  font-weight: bold;
  color: var(--orange);
}
.highlight .s2,
.highlight .s1 {
  color: #de1343;
}
.highlight .n,
.highlight .mi {
  color: #0286b3;
}
.highlight .nb,
.highlight .p,
.highlight .kc {
  font-weight: bold;
  color: black;
}
.playground .console {
  --bg: var(--lightGray);
  --color: #333;
  border-radius: 0;
  max-height: 150px;
  overflow: auto;
}
.playground .editable {
  min-height: 150px;
}
.playground .buttons {
  font-size: 0.7rem;
  background: #e8e8e8;
  padding: 3px 5px 0 5px;
}
.playground button {
  font-size: inherit;
}
.playground button .fa {
  margin-right: 3px;
}
.playground button:hover,
.playground button:active {
  background-color: var(--brandColor);
  color: white;
}
.playground .console code {
  border: 0;
  font-size: inherit;
  color: inherit;
  padding: 0;
}
.playground .console .error {
  font-weight: bold;
}

.terms_to_know {
  --titleBg: #1eb99a;
  --titleColor: white;
  --titlePrefix: 'Terms to Know';
}

a.previous[href=''],
a.next[href=''] {
  color: #ffc3cb;
}

.admonition-body > :not(p):first-child {
  padding-top: 0.5em;
}

.right-buttons {
  display: flex;
  align-items: center;
  font-size: 25px;
}

#sidebar code {
  color: inherit;
  border: 0;
  padding: 0 3px;
}

#sidebar li:before {
  counter-increment: section;
  content: counters(section, '.') ' ';
  margin-right: 0.25em;
}

#sidebar ul {
  counter-reset: section;
  font-weight: 600;
}
